body{
    text-align: center;
    line-height: 150px;
    }
    header,aside,main,footer{
    color: #FFF;
    /* body font */
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    header{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #828282;
    margin-bottom: 20px;
    }
    aside{
    display: flex;
    /*height: 150px;*/
    justify-content: center;
    padding: 0px 72px 0px 59px;
    align-items: center;
    align-self: stretch;
    background-color:#754435;
    margin-bottom: 20px;
    }
    main{
    display: flex;
    height: 245px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #375170;
    margin-bottom: 20px;
    }
    footer{
    display: flex;
    height: 95px;
    justify-content: center;
    padding: 0px 149px 0px 136px;
    align-items: center;
    align-self: stretch;
    background-color:#5B5B5B;
    }
    @media only screen and (min-width: 960px) {
        body{
            gap:20px;
    
        }
        section {
            display:flex;
            flex-direction: row;
            align-items: stretch;
            gap: 20px;
        }
        aside{
            flex:1;
        }
        main{
            flex:3;
        }     
    }
      
      